<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="luhui1hao.xyz.testapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".common.config.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME_VALUE}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--   HomeActivity  MVP     -->
        <!--   HomeActivity2 MVVM    -->
        <activity android:name=".homemvvm.view.HomeActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>